<div class="row">
  <div class="col-md-6 col-sm-12 filter">
    <ol  class="nya-bs-select" ng-model="filter.terms.status">
      <li nya-bs-option="option in filter.options" class="text-center">
        <!--<order-status status="option" no-style="true"></order-status>-->
        <a > <order-status status="option" no-style="true"></order-status> </a>
      </li>
    </ol>
  </div>

  <div class="col-md-6 col-sm-12 search">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" ng-model="filter.terms.id">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      </div>
    </div>
  </div>
</div>
